<div class="container-fluid bg">
    <div class="row my-4 mx-3">
        <div class="col-7">
            <div class="m-3 p-4 default-radius bg-white" id="block-1">
                <p class="font-xl title">
                    Daily visits 
                    <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.54361 10.2268L0.407508 -4.84702e-06L12.6797 -4.84702e-06L6.54361 10.2268Z" fill="#F12B2C"/>
                    </svg>
                    <span class="font-sm py-1" style="color: #F12B2C"> -9,8% in last 24h</span>
                </p>
            </div>
        </div>
        <div class="col-5">
            <div class="m-3 bg-success">
                aaa
            </div>
        </div>
    </div>
</div>